.article-list {
  margin: 30px 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: left;
}
.infinite-scroll-component__outerdiv {
  display: flex;
}
