.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}
.form-container input {
  padding: 5px;
  font-size: 16px;
}
.form-container select {
  padding: 5px;
  font-size: 16px;
}
.button-row {
  text-align: right;
}
.errorText {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  color: red;
}
